#custom-navbar-brand {
    background: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;;
    padding: 16px 20px;
}

ul.navbar-nav {
    text-align: right;
}

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    font-weight: bold;
}

footer{
    background-color: aqua;
    text-align: center;
}